@model IEnumerable<futArabicom.Models.Player>

@{
    ViewData["Title"] = "قائمة الصفحات";
    var count = 0;
    string cardType;
}

@section scripts{
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-99EE5098FH');
    </script>
}


@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" asp-controller="Players">Create New</a>
    </p>
}

@if (Model != null)
{
    <div class="container rounded-3 bg-richBlack pt-3 shadow-lg text-center">
        <div class="m-2">
            <span class="display-4 bg-minionYellow-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                    <path d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8ZM2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Z" />
                </svg>
                قائمة الصفحات
            </span>
            <span class="badge bg-info text-dark">بيتا</span>
        </div>
        <div class="row g-0">
            @foreach (var item in Model)
            {
                <div class="col-6 col-md-2">
                    <a class="text-decoration-none" href="@Url.Action("Details", "Players", new PlayerDetailsViewModel { pageId = item.Id })">
                        <div class="card m-0 bg-richBlack on-hover">
                            @*<img id="trendingPlayerCard" src="@Url.Content("~/Images/" + item.Type + "Mini.png")" class="rounded mx-auto d-block position-relative" alt="FutArabi">*@
                            <div class="trending-cards">
                            <img style="width:75%; right:14%; top:11%;" src="@ViewBag.imageUrls[count]" alt="image">
                            </div>
                        </div>
                    </a>
                </div>
                count++;
            }
        </div>
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
